body {
    margin: 0;
    background-color: white;
}

.banner {
    background-image: url(picture/topCover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.align {
    text-align: center;
    text-align: ;
    height: 500px;
}

.align h1 {
    font-family: 'Comfortaa', cursive;
    padding: 90px 0px 0px 0px;
    font-size: 70px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.align p {
    font-size: large;
    font-weight: 700;
    background-color: rgba(128, 128, 128, 0.247);
    margin: 0% 30%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: green;
    font-size: 25px;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Concert One', cursive;
    margin: 5% 40% 1% 40%;
}

.p-center {
    text-align: center;
    margin: 0% 30% 4% 30%;
}

#opacity {
    color: rgba(0, 0, 0, 0.5);
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container>div {
    margin: 20px;
    padding: 40px;
    font-size: 25px;
}

.donate-button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: green;
    font-size: 25px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}

.flex-container-bottom {
    display: flex;
    justify-content: center;
    margin: 1px 30px;
}

.flex-container-bottom>div {
    margin: 40px;
    padding: 20px;
    box-shadow: 10px 13px 20px rgb(179, 145, 145);
}

.section3 {
    padding-top: 30px;
}

.width-half {
    display: flex;
    justify-content: center;
    background-color: #F0F8FF;
    align-items: center;
}

.width-half>div {
    margin: 10px 70px;
    padding: 10px 50px;
}

form {
    background-color: rgb(219, 163, 182);
    padding: 20px;
    margin: 20px;
}

footer {
    padding: 20px;
    color: wheat;
    background-color: black;
    text-align: center;
}

#be-humble {
    font-family: 'Satisfy', cursive;
    color: red;
    font-size: 50px;
}